* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.card {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: blueviolet;
    padding: 40px 20px;
    text-align: center;
}

.card button {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}